@import '../../../variables.scss';

.header {
  height: $header-heigth;

  box-sizing: border-box;
  padding: 21px 24px 18px 29px;

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #1A2533;
  }
  
  &__subtitle {
    font-size: 12px;
    line-height: 15px;
    
    display: flex;
    align-items: center;
    height: 20px;

    color: $secondary;
  }
}
