.preview-container {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #D1E3F8;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    height: 46px;

    &-rounded {
      border-radius: 50%;
      height: 80px;
    }
  }
}
