@import './variables.scss';

// load 'Proxima Nova' font from files because it isn't free
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url(./fonts/ProximaNova-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url(./fonts/ProximaNova-Bold.otf) format('otf');
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

.app-container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $background;
}
