@import '../styles/variables.scss';

.drop-container {
  width: 400px;
  height: 590px;

  background-color: #ffffff;
  border: 1px solid $border-color;

  &__body {
    height: calc(100% - #{$header-heigth});
    
    padding: 20px;
    box-sizing: border-box;

    border-top: 1px solid $border-color;
  }

  &__drop-area {
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-hovered {
      background-color: $background;
      border: 1px dashed $primary;
    }

    // prevents dragleave from firing when dragging into a child element
    & * {
      pointer-events: none;
    }
  }

  &__or-separator {
    font-size: 12px;
    line-height: 15px;
    
    margin: 8px 0 0px 0;
    color: $secondary;
  }

  &__cancel-button {
    font-size: 12px;
    line-height: 15px;
    
    outline: none;
    border: none;
    padding: 0;
    color: $primary;
    cursor: pointer;

    // enable previously disabled pointer events
    pointer-events: auto !important;
  }

  &__error {
    position: absolute;
    bottom: 50px;

    font-size: 14px;
    color: #ff0000;
  }
}
