@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './variables.scss';

body {
  margin: 0;
  // temporarily set Roboto because Proxima Nova isn't free
  font-family: 'Roboto', sans-serif;
}

.app-container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $background;
}
